@font-face {
    font-family: 'irsans';
    src: url('../../public/fonts/IRANSansXFaNum-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'irsans';
    src: url('../../public/fonts/IRANSansXFaNum-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}
