.roundedBox {
    @apply flex p-4 gap-x-4 mb-12 border border-primary rounded-lg;
}

.mapBox {
    @apply bg-primary-light rounded-lg flex-1;
    max-width: 12rem;
    min-width: 10rem;
    min-height: 8rem;
}

.detailsWrapper {
    @apply flex flex-col justify-center gap-y-5 flex-grow;
}

.addressBottomBox {
    @apply flex flex-col md:flex-row space-y-5 md:space-y-0 items-start md:items-center justify-between;
}