
.root {
    background-color: theme('colors.secondary.dark');
    @apply h-screen pt-10;
}

.code {
    @apply mx-auto;
    color: theme('colors.secondary.dark');
    font-family: 'Encode Sans Semi Condensed', Verdana, sans-serif;
    font-size: 10rem; line-height: 10rem;
    font-weight: 200;
    text-align: center;
    -webkit-transition: opacity 0.5s linear, margin-top 0.5s linear;
    transition: opacity 0.5s linear, margin-top 0.5s linear;
}

.title {
    margin: 20px auto 30px auto;
    font-family: 'Encode Sans Semi Condensed', Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    -webkit-transition: opacity 0.5s linear, margin-top 0.5s linear; /* Safari */
    transition: opacity 0.5s linear, margin-top 0.5s linear;
}

.loading h1, .loading h2 {
    margin-top: 0px;
    opacity: 0;
}

.gears {
    @apply relative mx-auto w-auto h-0;
}

.gear {
    @apply relative z-0 mx-auto bg-black;
    width: 120px; height: 120px;
    border-radius: 50%;
}

.gear:before{
    position: absolute; left: 5px; top: 5px; right: 5px; bottom: 5px;
    z-index: 2;
    content: "";
    border-radius: 50%;
    background: theme('colors.secondary.light');
}

.gear:after {
    position: absolute; left: 25px; top: 25px;
    z-index: 3;
    content: "";
    width: 70px; height: 70px;
    border-radius: 50%;
    border: 5px solid theme('colors.secondary.dark');
    box-sizing: border-box;
    background: theme('colors.secondary.light');
}


.bar {
    position: absolute; left: -15px; top: 50%;
    z-index: 0;
    width: 150px; height: 30px;
    margin-top: -15px;
    border-radius: 5px;
    background: theme('colors.secondary.dark');
}

.bar:before {
    position: absolute; left: 5px; top: 5px; right: 5px; bottom: 5px;
    z-index: 1;
    content: "";
    border-radius: 2px;
    background: theme('colors.secondary.light');
}

.bar:nth-child(2) {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.bar:nth-child(3) {
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
}


@keyframes clockwise {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
}

@keyframes anticlockwise {
    0% { -webkit-transform: rotate(360deg);}
    100% { -webkit-transform: rotate(0deg);}
}

@keyframes clockwiseError {
    0% { -webkit-transform: rotate(0deg);}
    20% { -webkit-transform: rotate(30deg);}
    40% { -webkit-transform: rotate(25deg);}
    60% { -webkit-transform: rotate(30deg);}
    100% { -webkit-transform: rotate(0deg);}
}

@keyframes anticlockwiseErrorStop {
    0% { -webkit-transform: rotate(0deg);}
    20% { -webkit-transform: rotate(-30deg);}
    60% { -webkit-transform: rotate(-30deg);}
    100% { -webkit-transform: rotate(0deg);}
}

@keyframes anticlockwiseError {
    0% { -webkit-transform: rotate(0deg);}
    20% { -webkit-transform: rotate(-30deg);}
    40% { -webkit-transform: rotate(-25deg);}
    60% { -webkit-transform: rotate(-30deg);}
    100% { -webkit-transform: rotate(0deg);}
}


.one {
    left: -130px;
    animation: anticlockwiseErrorStop 2s linear infinite;
}

.two {
    top: -75px;
    animation: anticlockwiseError 2s linear infinite;
}

.three {
    top: -235px;
    left: 130px;
    animation: clockwiseError 2s linear infinite;
}

.loading .one, .loading  .three {
    animation: clockwise 3s linear infinite;
}

.loading .two {
   animation: anticlockwise 3s linear infinite;
}
