

.mainSwiper {
    @apply flex h-full mb-2 w-auto;
    box-sizing: border-box !important;
    width: 70%;
    @screen sm {
        width: 80%;
    }
}


.thumbSwiper {
    @apply flex flex-col py-3 overflow-hidden;
    box-sizing: border-box;
    max-height: 18rem;

}



.thumbSwiperSlide {
    @apply !w-fit !h-fit m-1 p-1 border border-primary-light rounded-lg cursor-pointer;
}

.mainSwiperSlide{
    @apply !h-fit
    bg-white border border-secondary-light
    rounded-lg cursor-pointer overflow-hidden;
}


@media (max-width: 420px) {
    .thumbSwiperSlide {
        margin: 5px;
        padding: 4px;
    }
}
